// =============================================================================
//  Global asset paths
// =============================================================================

$asset-path: "../";
$asset-path-images: "#{$asset-path}images";
$asset-path-icons: "#{$asset-path-images}icons";
$asset-path-fonts: "#{$asset-path}fonts";
